{% if post.link %}
  <h2 class="link-post">
    <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
      {{ post.title }}
    </a>
    <a href="{{ post.link }}" target="_blank" title="{{ post.title }}">
      <i class="fa fa-link"></i>
    </a>
  </h2>
{% else %}
<h2>
  <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
    {{ post.title }}
  </a>
  {% include _post_meta.html %}
</h2>
<p>
  {{ post.excerpt | strip_html }}
  <a href="{{ site.url }}{{ post.url }}" title="Read more">Read more</a>
</p>
{% endif %}